@model BearCave_2._0.Models.Unit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoorNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoorNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultRent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentRent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UnitID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
